<!-- Home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>PAWSH</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <header>
        <div class="container header-container">
        <a href="/"><div class="logo">PAWSH</div></a>
        <nav class="main-nav">
            <a href="/">Home</a>
            <a href="/ourstory">Our Story</a>
            <a href="/shop">Shop</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div class="profile-icon">
             <a href="/profile"><img src="img/user.png" alt="Profile"></a>
        </div>
        </div>
    </header>

    <main class="container">
    <!-- Our Story -->
        <section class="our-story">
        <h2>Our Story</h2>
        <h3>Pawst &amp; Present</h3>
        <div class="image-placeholder"></div>
        </section>

    <!-- Our Team -->
        <section class="our-team">
        <h2>Our Team</h2>
        <div class="team-members">
            <div class="team-member">
            <div class="member-photo"></div>
            <div class="member-name">Annika<br>CEO</div>
            </div>
            <div class="team-member">
            <div class="member-photo"></div>
            <div class="member-name">Alex<br>CEO</div>
            </div>
            <div class="team-member">
            <div class="member-photo"></div>
            <div class="member-name">Hogan<br>CEO</div>
            </div>
            <div class="team-member">
            <div class="member-photo"></div>
            <div class="member-name">Yuchen<br>CEO</div>
            </div>
        </div>
        </section>
    </main>
    <!-- Subscribe / Footer -->
    <section class="subscribe">
        <p>Join the pack for pawsh Perks</p>
        <form class="subscribe-form">
          <input type="email" placeholder="Email Address">
          <button type="submit">Subscribe</button>
        </form>
        <div class="social-icons">
          <a href="#"><img src="img/facebook.png" alt="Facebook"></a>
          <a href="#"><img src="img/instagram.png" alt="Instagram"></a>
        </div>
      </section>
</body>
</html>