<!-- Home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>PAWSH - login</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <header>
        <div class="container header-container">
        <a href="/"><div class="logo">PAWSH</div></a>
        <nav class="main-nav">
            <a href="/">Home</a>
            <a href="/ourstory">Our Story</a>
            <a href="/shop">Shop</a>
            <a href="/contact">Contact Us</a>
        </nav>
        <div class="profile-icon">
             <a href="/profile"><img src="img/user.png" alt="Profile"></a>
        </div>
        </div>
    </header>

    <main class="container">
        <h1>Welcome Back</h1>
        <form style="max-width:400px; margin:20px auto;" method="post" >
          <div class="form-group">
            <input id="email" name="email" type="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input id="password" name="password" type="password" placeholder="Password" required>
          </div>
          <p style="text-align:right; margin-top:-10px; margin-bottom:15px;">
            <a href="#">Forgot Password?</a>
          </p>
          <% if (typeof error == 'undefined' || error == null) { error = false;} %>
          <% if(error == true){ %>
            <p style="text-align:left; margin-top:-10px; margin-bottom:15px; color: #db0000;">
              Incorrect Password or Email
            </p>
          <%} %>
          <button type="submit" class="button" style="width:100%;">Log In</button>
        </form>
        <p style="text-align:center; margin-top:10px;">
          New Customer? <a href="/users">Create Account</a>
        </p>
      </main>
    <!-- Subscribe / Footer -->
    <section class="subscribe-blankpage">
        <p>Join the pack for pawsh Perks</p>
        <form class="subscribe-form">
          <input type="email" placeholder="Email Address">
          <button type="submit">Subscribe</button>
        </form>
        <div class="social-icons">
          <a href="#"><img src="img/facebook.png" alt="Facebook"></a>
          <a href="#"><img src="img/instagram.png" alt="Instagram"></a>
        </div>
      </section>
</body>
</html>